#react-root {
	z-index: 0;
	height: 100%;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
}

.login-sections {
	min-height: 93vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
}

.login-main-section {
	background-color: rgba(var(--b3f, 250, 250, 250), 1);
	flex-grow: 1;
	order: 4;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

.login-main-actual {
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	margin: 32px auto 0;
	max-width: 935px;
	padding-bottom: 32px;
	width: 100%;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
}

.login-left-container {
	align-self: center;
	background-image: url('https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png');
	background-position: -46px 0;
	background-size: 468.32px 634.15px;
	flex-basis: 380.32px;
	height: 581.15px;
	margin-bottom: 12px;
	margin-right: 32px;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
}

.login-images {
	margin: 27px 0 0 113px;
	position: relative;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

.login-image-two {
	height: 538.84px;
	left: 0;
	position: absolute;
	top: 0;
	width: 250px;
}

.login-right-container {
	color: rgba(var(--i1d, 38, 38, 38), 1);
	flex-grow: 1;
	justify-content: center;
	margin-top: 12px;
	max-width: 350px;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	margin-left: 2rem;
}

.login-right-container-child {
	align-items: center;
	background-color: rgba(var(--d87, 255, 255, 255), 1);
	border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;
}

.instaflick-container {
	margin-top: 36px;
	margin-bottom: 12px;
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	display: flex;
	border: 0 solid #000;
	box-sizing: border-box;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
}

.instaflick-logo-container {
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
	align-items: center;
	margin-bottom: 24px;
}

.instaflick-logo {
	max-height: 100%;
	max-width: 100%;
	width: 175px;
	height: 51px;
	object-fit: contain;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.login-card {
	margin-bottom: 10px;
	max-width: 350px;
	width: 100%;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
}

.login-form-form {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	/* margin-top: 24px; */
}
.login-container {
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	display: flex;
	border: 0 solid #000;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
}

.login-email-input-container {
	margin: 0 40px 6px;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
}

.login-email-input-container-child {
	align-items: center;
	background: rgba(var(--b3f, 250, 250, 250), 1);
	border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
	border-radius: 3px;
	box-sizing: border-box;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	display: flex;
	flex-direction: row;
	font-size: 14px;
	position: relative;
	width: 100%;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

.login-email-label {
	display: flex;
	flex: 1 0 0;
	height: 36px;
	margin: 0;
	min-width: 0;
	padding: 0;
	position: relative;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .login-email-span{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
    transition: transform ease-out .1s;
    user-select: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
} */

.login-email-input {
	font-size: 16px;
	background: rgba(var(--b3f, 250, 250, 250), 1);
	border: 0;
	flex: 1 0 auto;
	margin: 0;
	outline: 0;
	overflow: hidden;
	padding: 9px 0 7px 8px;
	text-overflow: ellipsis;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	line-height: 18px;
	writing-mode: horizontal-tb !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	cursor: text;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-button-container {
	margin-top: 8px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 8px;
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	display: flex;
	border: 0 solid #000;
	box-sizing: border-box;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
}

.login-button-container:hover {
	background-color: #0095f6;
}

.login-button {
	background-color: rgba(var(--d69, 0, 149, 246), 0.3);
	opacity: 1;
	border: 1px solid transparent;
	/* pointer-events: none; */
	color: rgba(var(--eca, 255, 255, 255), 1);
	position: relative;
	border-radius: 4px;
	appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: inherit;
	user-select: none;
	width: auto;
	line-height: 18px;
	/* background: 0 0; */
}

.login-button-text {
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	display: flex;
	border: 0 solid #000;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--eca, 255, 255, 255), 1);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-or-container {
	margin: 10px 40px 18px;
	flex-direction: row;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
}
.or-grey-bar {
	background-color: rgba(var(--b38, 219, 219, 219), 1);
	flex-grow: 1;
	flex-shrink: 1;
	height: 1px;
	position: relative;
	top: 0.45em;
	align-items: stretch;
	border: 0 solid #000;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
}

.or-text {
	color: rgba(var(--f52, 142, 142, 142), 1);
	flex-grow: 0;
	flex-shrink: 0;
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
	margin: 0 18px;
	text-transform: uppercase;
	align-items: stretch;
	border: 0 solid #000;
	display: flex;
	flex-direction: column;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.demo-user-login-container {
	margin-top: 8px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 8px;
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	display: flex;
	border: 0 solid #000;
	box-sizing: border-box;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	/* color: rgba(var(--i1d,38,38,38),1); */
	background-color: transparent;
}

.demo-login-button {
	border: 0;
	color: rgba(var(--d69, 0, 149, 246), 1);
	background-color: transparent;
	display: inline-block;
	padding: 0;
	position: relative;
	appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: inherit;
	user-select: none;
	width: auto;
	line-height: 18px;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-right-container-bottom-part {
	align-items: center;
	background-color: rgba(var(--d87, 255, 255, 255), 1);
	border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
	color: rgba(var(--i1d, 38, 38, 38), 1);
}

.login-right-container-bottom-part-child {
	display: block;
	color: rgba(var(--f52, 142, 142, 142), 1);
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	margin: -3px 0 -4px;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	flex-direction: column;
	flex-shrink: 0;
	padding: 0;
	position: relative;
	font: inherit;
	align-items: center;
	align-content: center;
	/* vertical-align: baseline; */
}

.no-account-text {
	color: rgba(var(--i1d, 38, 38, 38), 1);
	font-size: 14px;
	margin: 15px;
	text-align: center;
	padding: 0;
	border: 0;
	font: inherit;
	/* vertical-align: baseline; */
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-button {
	color: rgba(var(--d69, 0, 149, 246), 1);
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	cursor: pointer;
	text-align: center;
	margin-left: 0.5rem;
}

.signup-text {
	display: inline !important;
	margin: 0 !important;
	color: rgba(var(--d69, 0, 149, 246), 1);
	font-weight: bolder;
	font-size: 14px;
	line-height: 18px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	cursor: pointer;
	text-align: center;
	margin-left: 1rem;
}

.error-handler-login {
	color: rgba(237, 73, 86);
	font-size: 14px;
	line-height: 18px;
	margin: 10px 40px;
	text-align: center;
}

.error-ptag {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
.login-page-footer {
	background-color: rgba(250, 250, 250, 1);
	padding-left: 16px;
	padding-right: 16px;
}

.footer-container-login {
	margin-bottom: 52px;
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	display: flex;
	border: 0 solid #000;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
}

.about-container {
	margin-top: 24px;
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	display: flex;
	border: 0 solid #000;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
}

.about-container-child {
	flex-wrap: wrap;
	flex: 0 0 auto;
	justify-content: center;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
	display: flex;
	border: 0 solid #000;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
}

.about-navlink-container {
	margin-right: 8px;
	margin-left: 8px;
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	margin: 0;
	padding-left: 2rem;
	position: relative;
	font: inherit;
	vertical-align: baseline;
}

.github-name-footer {
	text-decoration: none;
	color: rgba(0, 55, 107, 1);
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	cursor: pointer;
}

.our-names {
	display: block;
	color: rgba(142, 142, 142, 1);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin: -2px 0 -3px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	flex-direction: column;
	flex-shrink: 0;
	padding: 0;
	position: relative;
	font: inherit;
	vertical-align: baseline;
}
.login-error-messages {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* padding: 10px; */
	color: #ed4956;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
