.errors-handler-login {
	color: rgba(237, 73, 86);
	font-size: 14px;
	line-height: 18px;
	margin: 10px 40px;
	text-align: center;
}

.comment-container	{
	display: flex;
	align-items: row;
	margin-left: 5px;
}

::-webkit-scrollbar {
    display: none;
}


.comment-navlink {
	text-decoration: none;
	color: rgb(38 38 38);
	font-weight: 600;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comment-prof-pic {
	height: 42px;
	width: 42px;
	border-radius: 50%;
  }

.comment-name {
	margin-left: 8px;
	margin-right: 8px;
}

.comment-comment {
	color: rgb(38 38 38);
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	word-break: break-word;
}

.all-comment {
	max-height: 200px;
	overflow-y: scroll;
}

.delete-comment-btn {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
	cursor: pointer;
	font-weight: bold;
	margin-top: 2px;
}

.edit-comment-delete {
	display: flex;
	justify-content: flex-end;
	margin-right: 12px;
}


.delete-comment-btn:hover {
	color: red;
}


.single-like {
	display: flex;
	margin-bottom: 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(38, 38, 38, 0.3)
}

#like-heart{
	margin-left: 10px;
}

.single-image-submit-btn {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
	cursor: pointer;
	font-weight: bold;
	color: rgb(0 149 246)
}


.comment-text-area {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
	cursor: pointer;
	font-weight: bold;
	width:320px;
}
